<ion-view>
  <ion-content class="jornal1">


<p>Seu cameraman foi muito ferido pela explosão e está agonizando ao seu lado.</p>

<img ng-src="/img/cameran.jpg" alt="Cameraman">


    <div class="botao-jornal1">
      <button class="button button-balanced" type="submit" ng-click="jornal2()">Você se aproxima dele imediatamente para prestar socorro.</button>
    </div>

    <div class="botao-jornal1">
      <button class="button button-assertive" type="submit" ng-click="jornal3()">Seu celular apita. Acaba de chegar uma mensagem.</button>
    </div>
    <!-- Ou o celular toca também -->

  </ion-content>
</ion-view>
