<ion-view>
  <ion-content>

<h1>Mapa Ricardo</h1>


<p>Mapa do Ricardo mostrando uma base mamericana próxima ao Canadá</p>
<p>e as coordenadas.</p>

<div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNcEjGNZ8g2P7e7RKe4aeul-k1pAMqP2M">
  <ng-map center="47.6210894,-70.1465705,17" zoom="15"></ng-map>
</div>

<label class="item">
  <button class="button button-dark" type="submit" ng-click="ricardo1()">Avançar</button>
</label>



  </ion-content>
</ion-view>
