<ion-view>
  <ion-content>


<p>Segundo as instruções, você deve bombardear esta vila:</p>

<img ng-src="http://www.trustedadventures.com/sites/default/files/styles/box_350x350/public/images-trips/Amazon_Rainforest_NWC.jpg?itok=0wM2mn3H" alt="Vila">

<label class="item">
  <button class="button button-balanced" type="submit" ng-click="sucesso()">Jogar bomba</button>
</label>


<label class="item">
  <button class="button button-assertive" type="submit" ng-click="fracasso()">Sobrevoar</button>
</label>




  </ion-content>
</ion-view>
