<ion-view>
  <ion-content class="telar11">

<p>A missão de reconhecimento serviu para comprovar que realmente o exercito inimigo é grande e poderoso, agora sabemos que será uma batalha de proporções épicas.
</p>

<div class="botao-telar11-1">
  <button class="button button-balanced" type="submit" ng-click="opcoes()">Iniciar ataque aéreo.</button>
</div>

<div class="botao-telar11-2">
  <button class="button button-balanced" type="submit" ng-click="opcoes()">Buscar radares e bases militares.</button>
</div>

  </ion-content>
</ion-view>
