ion-content {
  text-align: center;
}

.item {
  background-color: black;
}

.apresentacao {
  color: white;
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}

.apresentacao img {
  margin-top: 100px;
}

.opcoes {
  color: white;
  background-color: black;
}
.opcoes p {
  margin-top: 155px;
}

.botao-opcoes {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opmilitary {
  color: white;
  background-color: black;
}

.opmilitary p {
  margin-top: 160px;
}

.botao-opmilitary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opintel {
  color: white;
  background-color: black;
}

.opintel p {
  margin-top: 160px;
}

.botao-opintel {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opcivil {
  color: white;
  background-color: black;
}

.opcivil p {
  margin-top: 160px;
}

.botao-opcivil {
  margin-top: 30px;
  margin-bottom: 30px;
}

ng-map {
  height: 430px;
}

/*CSS ARMY ===================================================================*/
/*CAPA*/

.capa-army {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/army.png');
}

.botao-capa-army {
  margin-top: 515px;
}


/*CSS NAVY ===================================================================*/
/*CAPA*/

.capa-navy {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/navy.png');
}

.botao-capa-navy {
  margin-top: 515px;
}


/*CSS Ricardo ================================================================*/

/*INTRO*/
.intro-ricardo {
  color: white;
  background-color: black;
}

.intro-ricardo p {
  margin-top: 250px;
}

.botao-intro-ricardo {
  margin-top: 50px;
}

/*CAPA*/

.capa-ricardo {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/airforce.png');
}

.botao-capa-ricardo {
  margin-top: 515px;
}

/*MAPA*/

.maparicardo{
  color: white;
  background-color: black;
}

.maparicardo p {
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
}
/*CSS Igor ===================================================================*/
.capa-igor {
  background-image: url('/img/coreia.jpg');
}

.botao-capa-igor {
  margin-top: 515px;
}

/*CSS Hacker =================================================================*/
.capa-hacker {
  background-image: url('/img/hacker.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.botao-capa-hacker {
  margin-top: 515px;
}

/*CSS Rebel ==================================================================*/
.capa-rebel {
  background-image: url('/img/rebel.jpg');
}

.botao-capa-rebel {
  margin-top: 515px;
}

/*CSS Journal ================================================================*/
/*CAPA*/
.capa-jornal {
  background-image: url('/img/journal.jpg');
}

.botao-capa-jornal {
  margin-top: 515px;
}

/*INTRO*/
.intro-jornal {
  color: white;
  background-color: black;
}

.intro-jornal p {
  margin-top: 250px;
}

.botao-intro-jornal {
  margin-top: 50px;
}

/*MAPA*/

.mapa-jornal {
  color: white;
  background-color: black;
}

.mapa-jornal p {
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
}

/*JORNAL1*/

.jornal1 {
  color: white;
  text-shadow: 2px 2px black;
  background-color: #000039;
  background-image: url('/img/cam.jpg');
  background-repeat: no-repeat;
}

.jornal1 p {
  margin-top: 20px;
}

.botao-jornal1-1 {
  margin-top: 460px;
}

.botao-jornal1-2 {
  margin-top: 15px;
}

/*JORNAL2*/

.jornal2 {
  color: white;
  text-shadow: 2px 2px black;
  background-color: black;
  background-image: url('/img/battery.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.jornal2 p {
  margin-top: 120px;
}

.botao-jornal2-1 {
  margin-top: 320px;
}

.botao-jornal2-2 {
  margin-top: 15px;
}

/*JORNAL3*/

.jornal3 {
  color: white;
  text-shadow: 2px 2px black;
  background-color: white;
  background-image: url('/img/hemo.jpg');
  background-repeat: no-repeat;
}

.jornal3 p {
  margin-top: 190px;
}

.botao-jornal3-1 {
  margin-top: 200px;
}

.botao-jornal3-2 {
  margin-top: 15px;
}
