ion-content {
  text-align: center;
}

.item {
  background-color: black;
}

.apresentacao {
  color: white;
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}

.apresentacao img {
  margin-top: 100px;
}

.opcoes {
  color: white;
  background-color: black;
}
.opcoes p {
  margin-top: 155px;
}

.botao-opcoes {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opintel {
  color: white;
  background-color: black;
}

.opintel p {
  margin-top: 160px;
}

.botao-opintel {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opcivil {
  color: white;
  background-color: black;
}

.opcivil p {
  margin-top: 160px;
}

.botao-opcivil {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*CSS Ricardo ================================================================*/

.capa-ricardo {
  background-image: url('/img/capacete.jpg');
}

.botao-capa-ricardo {
  margin-top: 515px;
}

/*CSS Igor ===================================================================*/
.capa-igor {
  background-image: url('/img/coreia.jpg');
}

.botao-capa-igor {
  margin-top: 515px;
}

/*CSS Hacker =================================================================*/
.capa-hacker {
  background-image: url('/img/hacker.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.botao-capa-hacker {
  margin-top: 515px;
}

/*CSS Rebel ==================================================================*/
.capa-rebel {
  background-image: url('/img/rebel.jpg');
}

.botao-capa-rebel {
  margin-top: 515px;
}

/*CSS Journal ================================================================*/
/*CAPA*/
.capa-jornal {
  background-image: url('/img/journal.jpg');
}

.botao-capa-jornal {
  margin-top: 515px;
}

/*INTRO*/
.intro-jornal {
  color: white;
  background-color: black;
}

.intro-jornal p {
  margin-top: 250px;
}

.botao-intro-jornal {
  margin-top: 50px;
}

/*MAPA*/

.mapa-jornal {
  color: white;
  background-color: black;
}

/*JORNAL1*/

.jornal1 {
  color: white;
  background-color: black;

}

.botao.jornal1 {
  display: flex;
  flex-wrap: wrap;
}
